.container {
  padding-top: 146px;
  padding-bottom: 20px;
}

.addTask,
.controls {
  display: flex;
  align-items: center;
}

#addInp {
  padding: 14px 15px;
  font-size: 15px;
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  transition: all 0.2s;
  margin-right: 10px;
  flex: 1;
}

#searchTask {
  padding: 14px 15px;
  font-size: 15px;
  border: 1px solid #e2e8f0;
  border-radius: 5px;
  transition: all 0.2s;
  margin-right: 10px;
  margin-top: 10px;
  flex: 2;
}

.sort-select {
  padding: 12px 15px;
  font-size: 15px;
  color: black;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  margin-right: 10px;
  transition: color 0.3s;
}

.sort-select:hover {
  color: white;
  background-color: var(--color-text);
  background-color: var(--color-back);
  border-color: var(--color-border);
  color: var(--color-text);
}

.sort-select:active {
  color: white;
  background-color: var(--color-text);
  background-color: var(--color-back);
  border-color: var(--color-border);
  color: var(--color-text);
}

#addBut {
  padding: 13px 35px;
  background-color: var(--color-button);
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

#addBut:hover {
  background-color: rgb(115, 91, 189);
}

button {
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1.05rem;
  padding: 10px 20px;
  height: 46px;
  margin: 0px px;
}

.controls {
  margin: 5px 0 20px;
}

.filterButton {
  padding: 9px 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgb(204, 204, 204);
  height: 46px;
}

.filterButton:hover {
  color: white;
  background-color: var(--color-back);
  border-color: var(--color-border);
  color: var(--color-text);
}

/*JS*/
.task-content {
}

.task-done {
  color: rgb(0, 255, 13);
}

.edit-button{
    margin-right: 5px;
}

.tasks {
  display: flex;
  flex-direction: column;
  padding: 30px calc(50% - 976px / 2) 30px;
  width: 100%;
  gap: 5px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border: 3px solid var(--color-primary);
  border-radius: 5px;
  padding: 8px;
}

.task-name {
  cursor: pointer;
}

.error {
  border: 2px solid var(--color-error);
}
.taskDate{
  display: block;
  font-size: 12px;
  color: #999;
  margin-top: 8px;
  text-align: right;
}